PORT=5000
MONGODB_URI=mongodb+srv://bitclass34_db_user:kQvnExVqoMfGqp76@cluster0.m8qs5l4.mongodb.net/?appName=Cluster0
JWT_SECRET=educational_content_sharing_platform_2026
JWT_EXPIRE=7d
NODE_ENV=development

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dd8lyp0f3
CLOUDINARY_API_KEY=546594945454841
CLOUDINARY_API_SECRET=XnLgdfOHvQvIU_Bsv_TFZzeGljI
